.centered {
  text-align: center;
}

#title {
  font-size: 2em;
}

#subtitle {
  font-size: 16px;
}

.div {
  background-color: gray;
}

li {
  list-style-type: none;
  font-size: 10px;
}

#content {
  text-decoration: underline;
  background: grey;
  font-size: 8px;
 
}

.monospaced {
  font-family: monospace;
}

h1,
p,
h2 {
  background: grey;
  margin: 0;
  font-weight: lighter;
}