button {
  /* Styles here */
  background-color: blue;
  border: none;
  color: white;
  padding: 40px 60px;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
}